.nav-bar-item {
  width: 2em;
  margin-top: -0.5em;
}

.placeholderCard {
  border: 1px dashed;
  height: 15em;
}

.placeholderCard button[id*='createProduct'] {
  margin-top: 6em;
}

.placeholderCard img {
  max-height: 8em;
  max-width: 8em;
  margin-top: 1em;
}

.overlayEditButton {
  position: absolute;
  left: 1em;
  bottom: 1em;
}

.overlayDeleteButton {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.inputEmpty {
  border-color: red;
}