.nav-bar-item {
  width: 2em;
  margin-top: -0.5em;
}

.card {
  border: 1px solid;
  height: 15em;
}

.card button[id*='createProduct'] {
  margin-top: 6em;
}

.card img {
  max-height: 8em;
  max-width: 8em;
}

body {
  padding-top: 70px;
}

.thumbnail img {
  min-height: 100px;
  height: 100px;
}

.thumbnail .description {
  min-height: 50px;
  height: 50px;
}

.thumbnail-container {
  padding-right: 8px;
  padding-left: 8px;
}