.nav-bar-item {
  width: 2em;
  margin-top: -0.5em;
}

body {
  padding-top: 70px;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.thumbnail .title {
  max-height: 18px;
  margin-top: 7px;
  overflow: hidden;
}

.thumbnail .description {
  max-height: 56px;
  margin-top: 5px;

}

.thumbnail .price {
  margin-top: 5px;
  color: #b12704;
}

.thumbnail-container {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.thumbnail p {
  overflow: hidden;
  margin: 0;
}

.thumbnail {
  width: 150px;
  height: 300px;
  margin: auto;
 }

.thumbnail .caption {
  padding: 0px;
  font-size: 13px;
  font-family: Arial,sans-serif;
}

.img-container {
  height: 150px;
}

.buttons {
  margin-top: 5px;
}

.hello {
  margin-left: 15px;
}