<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>eCommerce: Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/css/global.css"/>
        <link rel="stylesheet" href="/css/prod_details.css"/>

        <!-- js -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/store.js"></script>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="container">
            <div class="row center-block">
                <h1 th:text="${product.title}">Title</h1>
                <h4 th:text="${product.shortDescription}">Subtitle</h4>
            </div>
            <hr />

            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="image-container">
                        <img th:src="${product.imageUrl}" class="img-responsive center-block"/>
                    </div>
                </div>
                <div th:object="${product}">
                    <div class="col-xs-12 col-sm-7">
                        <div class="description-col">
                            <p th:text="${product.description}">Description</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="price-col">
                            <p th:text="${product.price != null} ? ${'$'+#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')} : '$0.00'">$29.99</p>
                            <button class="btn btn-primary" th:id="${'addToCart-'+{product.id}}">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>