<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Create an account</title>
    </head>
    <body>
        <h2>Create your account</h2>

        <form th:action="@{/register}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <div>
                <input type="email" name="email" id="email" th:field="${userForm.email}" placeholder="Email Address" required="true" autofocus="true"/>
                <p th:if="${#fields.hasErrors('userForm.email')}" th:errors="*{userForm.email}"></p>
            </div>
            <div>
                <input type="password" name="password" id="password" th:field="${userForm.password}" placeholder="Password" required="true"/>
                <p th:if="${#fields.hasErrors('userForm.password')}" th:errors="*{userForm.password}"></p>
            </div>
            <div>
                <input type="password" name="passwordConfirm" id="passwordConfirm" th:field="${userForm.passwordConfirm}" placeholder="Confirm Password" required="true"/>
                <p th:if="${#fields.hasErrors('userForm.passwordConfirm')}" th:errors="*{userForm.passwordConfirm}"></p>
            </div>
            <button type="submit">Save</button>
        </form>
    </body>
</html>