<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>eCommerce: Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/css/global.css"/>

        <!-- js -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/store.js"></script>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="container">
            <div class="row">
                <div th:each="product : ${products}">
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 col-xl-1 thumbnail-container" th:id="${'productCard-' + {product.id}}">
                        <div class="thumbnail">
                            <a th:href="${'/products/' + {product.id}}">
                                <div class="img-container">
                                    <img class="center-block" th:src="${product.imageUrl}" onerror="this.src='/images/default_product.jpg'"/>
                                </div>
                            </a>
                            <div class="caption">
                                <div class="title"><a th:href="${'/products/' + {product.id}}" th:text="${product.title != null} ? ${product.title} : 'no title'">title</a></div>
                                <p class="description" th:text="${product.shortDescription}"></p>
                                <p class="price" th:text="${product.price != null} ? ${'$'+#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')} : '$0.00'">$29.99</p>

                                <div class="text-center buttons">
                                    <button class="btn btn-primary btn-xs" th:id="${'addToCart-'+{product.id}}">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>